div.myAlbums {
  height: 684px;
  width: inherit;
  margin:0;
  padding:0;

  header {
    margin:0;
    padding:0;
    height: 140px;
    width: 100%;
    background-color: #847577;
    position: relative;
    h1 {
      position: absolute;
      left: 41.5%;
      top: 11%;
    }
  }

  section.home1 {
    margin:0;
    padding:0;
    width: 100%;
    img {
      height: 140%;
      position: relative;
      top: 50%;
      left: -22.5%;
      transform: translateY(-50%);
    }
  }

}
